.about-page {}

.about-page .title {
    font-size: 26px;
    margin: 20px 0;
}

.about-page .about-content {}

.about-page .about-content h3 {
    display: block;
    background: #f6f6f0;
    font-weight: normal;
    padding: 4px 10px;
}

.about-page .about-content p {
    text-indent: 2em;
    line-height: 1.9;
}